<!-- <ion-content padding>
    <div>
      <img style="width: 42.12962962962963%; height: 23.69791666666667%; background: transparent; margin-left: 28.98148148148148%; margin-top: 11.09375%;" src="assets/img/leftlogo.png">
      <img style="position: absolute; background: transparent; width: 42.1%; height: 42.1%; left: 30%; top: 11.00543478%" src="assets/img/leftlogo.png">
  </div>

  <div style="clear: both; height: 37%;"></div>

  <ion-item style="color: black; width: 95%;">
      <ion-input style="font-size: 14px;" type="text" [(ngModel)]="email" placeholder="USERNAME/EMAIL"></ion-input>
  </ion-item>
  <ion-item style="color: black;  width: 95%;">
      <ion-input style="font-size: 14px;" type="text" [(ngModel)]="password" placeholder="PASSWORD"></ion-input>
  </ion-item>
  <p style="font-size: 11px; float: right; margin-right: 5%;">FORGOT PASSWORD?</p>
 
  <button ion-button color="dark" style="position: absolute; border-radius: 0px; color: white; width: 37.7%; height: 7.47%; left: 31.16%; top: 58.47%; font-size: 14px;" (click)="login()">LOGIN</button><br>
  <button ion-button style="position: absolute; border-radius: 0px; color: white; background-color: rgb(151, 147, 147); width: 37.7%; height: 7.47%; left: 31.16%; top: 68.34%; font-size: 14px;" (click)="signup()">SIGN UP</button>

  <div style="border-color: rgb(180, 177, 177);
            position: absolute;
            border-style: solid;
            border-width: 0.5px;
            left: -3%;
            right: 20%;
            top: 81.6%;
            width: 120%;"></div>

  <div align="center" style="clear: both;">
      <a style="color: black; background-color: white; position: absolute; left: 33%; top: 80.46875%; font-size: 11px;">&nbsp;or with Social Media&nbsp;</a>
  </div><br>

  <div style="clear: both; height: 25%"></div>
  <div>
      <img style="float: left; margin-left: 29%; background: transparent; width: 9%; height: 9%;" src="assets/img/facebook.png" >
      <img style="float: center; margin-left: 8%; background: transparent; width: 9%; height: 9%;" src="assets/img/twitter.png">
      <img style="float: right; margin-right: 29%; background: transparent;  width: 9%; height: 9%;" src="assets/img/google.png" >
  </div>

  <div style="clear: both; height: 3%"></div>

  <p style="text-align: center;">This is for Social, click here for Merchant.</p>

</ion-content> -->

<ion-content class="background-all">

        <div class="content-body">
      
          <div class="content-padding">
      
            <!-- Logo -->
            <div style="clear: both; margin-top: -20px;"></div>
            <img style="width: 42.12962962962963%; height: 23.69791666666667%; background: transparent; margin-left: 28.98148148148148%; margin-top: 11.09375%;" src="assets/img/leftlogo.png">
            
            <ion-list padding>
                <div>
                <ion-item style="background-color: black;">
                  <ion-input style="background-color: black; color: white; bottom: 55.43478260869565%;" type="text" [(ngModel)]="userInfo.email" placeholder="Username/Email"></ion-input>
                </ion-item>
                <ion-item style="background-color: black;">
                  <ion-input style="background-color: black; color: white; bottom: 47.59963768115942%;" type="password" [(ngModel)]="userInfo.password" placeholder="Password"></ion-input>
                </ion-item>
                </div>
    
                <div style="clear: both; margin-top: -10px;"></div>
                <a (click)="reset()" ion-button clear style="float: right; font-size: 8px; background: transparent; color: white;">Forgot Password?</a>
    
                <div style="clear: both; margin-top: 10px;"></div>
                <div align="center">
                <button style="border-radius: 2px;
                background-color: rgb(255, 255, 255);
                width: 140px;
                height: 50px;" ion-button (click)="login()">Login</button>
    
                <div style="clear: both; margin-top: 10px;"></div>
                <button style="border-radius: 2px;
                background-color: rgb(255, 255, 255);
                width: 140px;
                height: 50px;" ion-button (click)="signup()">Signup</button>
                </div>
    
                <div style="clear: both; margin-top: 35px;">
                <div style="border-width: 1px;
                  border-color: rgb(255, 255, 255);
                  border-style: solid;
                  margin-left:-15%;
                  width: 130%;"></div>
    
                <div style="clear: both;">
                <a style="color: white; margin-top: -11px; background-color: black; float: right; margin-right: 25%;">
                  or with social media</a>
                </div>
              </div>
                
                <div style="clear:both; height: 25px;"></div>
                <div style="text-align: center;">
                  <img style="width: 28px; margin-right: 20px; background: transparent; " src="assets/img/leftlogo.png">
                  <img style="width: 28px; background: transparent;" src="assets/img/twitter.png">
                  <img style="width: 28px; margin-left: 20px; background: transparent;" src="assets/img/google.png">
                </div>
    
            </ion-list>
            <!-- <button ion-button style="background: transparent;">FORGOT PASSWORD?</button> -->
          </div>
        </div>
        <div style="clear:both; text-align: center; margin-top: -20px;">
          <a (click)="gotoSocial()" ion-button clear style="font-size: 8px; background: transparent; color: white;">This is  for Merchant, click here for Social</a>
        </div>
      </ion-content>