// .login_button {
//     border-radius: 2px;
//     background-color: rgb(255, 255, 255);
//   }

//css from global------------------
.background-all {
    background-color: black !important;
}
// .scroll-content {
//      height: 100%;
// } 
.content-body {
       width: 86%;
       margin-left: 7%;
       margin-top: 30px;
} 
.content-padding {
         // keep only bottom border
    .item-input {
           margin: 0;
           padding-left: 0;
           border: none;
           // border-bottom: 1px solid #DDD;
    }      
    .item-inner {
             border: none;
    }
}
