<!--
  Generated template for the MenupopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="menu-main-view">
              
    <div class="overlay-backdrop" (click)="close()">
        <img class="x-icon" src="assets/img/closemenu.png">
        <div class="triangle"></div>
    </div> <!-- close modal when tapped outside the modal-->
    <div class="popover_content">


<div style="float: both; height: 5%;"></div>
<ion-col>

  <ion-row>
    <ion-col (click)="gotoAccount()" col-10 text-align-end>
        ACCOUNT
    </ion-col>
    <ion-col col-2>
        <img style="background: transparent;" src="assets/img/account.png">
    </ion-col>        
  </ion-row>

  <ion-row>
        <ion-col (click)="gotoHistory()" col-10 text-align-end>
            HISTORY
        </ion-col>
        <ion-col col-2>
            <img style="background: transparent;" src="assets/img/history.png">
        </ion-col>        
    </ion-row>

  <ion-row>
    <ion-col (click)="gotoNotification()" col-10 text-align-end>
        NOTIFICATIONS
    </ion-col>
    <ion-col col-2>
        <img style="background: transparent;" src="assets/img/notification.png">
    </ion-col>        
  </ion-row>

  <div style="float: both; height: 10%;"></div>

    <ion-row>
    <ion-col style="margin-top: 4%;" col-10 text-align-end>
        HELP
    </ion-col>
    <ion-col col-2>
        <img style="background: transparent" src="assets/img/help.png">
    </ion-col>        
  </ion-row>

    <ion-row>
    <ion-col col-10 text-align-end (click)="gotosetting()">
        SETTINGS
    </ion-col>
    <ion-col col-2 >
        <img style="background: transparent;" src="assets/img/setting.png">
    </ion-col>        
  </ion-row>

    <ion-row>
    <ion-col col-10 text-align-end>
        ABOUT
    </ion-col>
    <ion-col col-2>
        <img style="background: transparent;" src="assets/img/about.png">
    </ion-col>        
  </ion-row>

    <ion-row>
    <ion-col col-10 text-align-end>
        RATE US!
    </ion-col>
    <ion-col col-2>
        <img style="background: transparent;" src="assets/img/rate.png">
    </ion-col>        
  </ion-row>
  
    <ion-row (click)="logout()">
    <ion-col col-10 text-align-end>
        LOG OUT
    </ion-col>
    <ion-col col-2>
        <img style="background: transparent;" src="assets/img/logout.png">
    </ion-col>        
  </ion-row>

</ion-col>

</div>
</ion-content>