ion-row {
  text-align: right;
  }

.x-icon{
  position: absolute;
  right: 16px;
  top: 2.3%;
  width: 5%;
  background: transparent;
}
.triangle{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent; 
    border-right: 20px solid transparent; 
    border-bottom: 22px solid white;
    right: 6px;;
    top: 7.5%;
}

.menu-main-view{
  background: transparent;
}
.overlay-backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  background-color: black;
}
.popover_content {
  position: absolute;
  top: 10.5%;
  right: 0;
  width: 54.10628019323671%;
  height: 89.5%;
  padding: 10px;
  z-index: 100;
  margin: 0 auto;
  padding: 10px;
  color: #333;
  background: white;
  overflow: hidden;
}