.ios, .md {
 content-drawer {

        width: 100%;
        height: 100%;
        position: absolute;
        width : 100%;
        //margin-left: 18px;
        z-index: 10 !important;
        box-shadow: 0px -4px 22px -8px rgba(0,0,0,0.75);
 }

 ion-card {
    position: relative;
    text-align: center;
  }
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

  .zoomIn {
    -webkit-animation: zoomOut 500ms;
    -moz-animation: zoomOut 500ms;
    -o-animation: zoomOut 500ms;
    animation: zoomIn 500ms;
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  } 

}
 
