<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="text-align:center">
      NOTIFICATIONS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="zoomIn" *ngFor="let card of cards" (click)="cardTapped(card)">
    <img [src]="card.imageUrl" />
    <div class="card-title">{{card.title}}</div>
    <div class="card-subtitle">{{card.subtitle}}</div>
  </ion-card>
</ion-content>