  <ion-header>
    <ion-navbar color="dark"></ion-navbar>
  </ion-header>

<ion-content class="background-all">
    <div class="content-body">
      <div class="content-padding">
  
       <ion-list>
        <div style="font-size: 14px; color: white; margin-top:-10px;">
          <h6>
          FOR VALIDATION & SECURITY,<br><br>
          ALL OKANE USER ARE REQUIRE<br>
          TO PROVIDE IDENTIFICATION CARD & BANK CARD<br>
          </h6>
        </div>

        <div style="clear:both; height: 35px;"></div>

        <ion-row>
          <ion-col col-1>
            <ion-checkbox mode="ios" [(ngModel)]="user.agreement"></ion-checkbox>
          </ion-col>
        <ion-col col-3>
          <div style="color: white; text-align:left">
            AGREE
          </div>
        </ion-col>
        <ion-col col-8>
          <div style="color: white; font-size:10px; text-align:right">
          Read Terms & Conditions
          </div>
        </ion-col>
      </ion-row>

      <div style="clear:both; height: 40px;"></div>
        <div style="top: 35%; width: 100%; height: 52px; border: 1px solid white; border-radius: 3px;">

          <ion-row>
            <ion-col col-3>
              <img style="padding-left: 10%; padding-top: 3px; width: 60px; background: transparent;left:10%" src="assets/img/ic_card.png">
            </ion-col>
            <ion-col col-6>
              <ion-input style="color: white; top: 3px; font-size: 11px;" type="text" [(ngModel)]="user.IDcard" placeholder="ADD IDENTITY CARD"></ion-input>
            </ion-col>
            <ion-col col-3>
              <button ion-button style="border-radius: 2px;
                background: url('assets/img/cameraicon.png');
                height: 20px;
                width: 20px;
                background-size: 20px;
                left: 10%;
                top: 5px;
                background-repeat: no-repeat;" (click)="uploadID()">
              </button>
            </ion-col>
          </ion-row>
        </div>

        <div style="clear:both; height: 30px;"></div>

        <div style="width: 100%;height: 52px;border: 1px solid white;border-radius: 3px;">
          
          <ion-row>
              <ion-col col-3>
                <img style="padding-left: 10%; padding-top: 3px; width: 60px; background: transparent;" src="assets/img/debit_card.png">
              </ion-col>
              <ion-col col-6>
                <ion-input style="color: white;top: 3px; font-size: 11px;" type="text" [(ngModel)]="user.Card" placeholder="ADD CREDIT CARD"></ion-input>
              </ion-col>
              <ion-col col-3>
                  <button ion-button style="border-radius: 2px;
                  background: url('assets/img/cameraicon.png');
                  height: 20px;
                  width: 20px;
                  background-size: 20px;
                  left: 10%;
                  top: 5px;
                  background-repeat: no-repeat;" (click)="uploadCard()">
                </button>
               </ion-col>
            </ion-row>
        </div>

        <div style="clear:both; height: 130px;"></div>
        <button ion-button style="background-color: rgb(190, 190, 190); font-size:11px ;position: absolute; color: black; border-radius: 0px; color:  black; width: 40%; height:8%; left: 31%;" (click)="savee()">SUBMIT</button>
      </ion-list>

      </div>
    </div>
  </ion-content>
  
