//css from global------------------
.background-all {
    background-color: black !important;
}
// .scroll-content {
//      height: 100%;
// } 
.content-body {
       width: 86%;
       margin-left: 7%;
       margin-top: 40px;
} 
.content-padding {
         // keep only bottom border
    .item-input {
           margin: 0;
           padding-left: 0;
           border: none;
           // border-bottom: 1px solid #DDD;
    }      
    .item-inner {
             border: none;
    }
}

//document css ------------------------------
.md .login-button{
    border-radius: 2px;
              background-color: rgb(255, 255, 255);
              position: absolute;
              left: 31.11111111%;
              top: 58.4375%;
              width: 37.68115942028986%;
              height: 7.472826086956522%;
}
.md .register-button{
    border-radius: 2px;
            background-color: rgb(255, 255, 255);
            position: absolute;
            left: 31.11111111%;
            top: 68.3333333333%;
            width: 37.68115942028986%;
            height: 7.472826086956522%;
}
.md .forgot-password{
    bottom: 45.3804347826087%; right: 6.76811594202899%; position: absolute; background: transparent !important;
            color: #ffffff; font-size: 10px;
}

.login-bg {
    background-color: black;
  }
.list-form{
    // background-color: #222222;
    color: black;
}
.button-item{
    background-color: black;
}
.button{
    color: black;
    background-color: white;
}
.button_forget{
    // text-transform: initial;
    // width: 120px;
    // height: 30px;
    background: transparent !important;
    color: #ffffff;
}
.checkbox-round {
    width: 2em;
    height: 2em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #ddd;
    outline: none;
    cursor: pointer;
}
.checkbox-round:checked {
    background-color: gray;
}