<ion-header>
  <ion-navbar color="dark"></ion-navbar>

  <div style="height: 130px; background-color: black;" >
    <ion-avatar item start style="position: absolute; left: 37%; top: 32%;">
      <img src="{{ user.photoURL }}" style="width:100px; height: 100px; border-radius: 50%">
    </ion-avatar>
    <img src="../assets/img/Edit.png" style="position: absolute; left: 57%; top: 80%; width: 15px; height: 15px;">
  </div>
</ion-header>


<ion-content padding>
  <h5 padding style="margin-left: 1.8%;">Personal Information</h5>
  <div padding style="margin-top: -8%; margin-left: -3%;">
    <ion-item>
      <ion-input type="text" [(ngModel)]="fullname" placeholder="Full Name"></ion-input>
    </ion-item>

    <div style="clear: both; height: 10px;"></div>

    <ion-item>
        <ion-input type="text" [(ngModel)]="email" placeholder="Email"></ion-input>
    </ion-item>

    <div style="clear: both; height: 10px;"></div>

    <ion-item>
        <ion-input type="text" [(ngModel)]="mobileNumber" placeholder="Mobile Number"></ion-input>
    </ion-item>

    <div style="clear: both; height: 10px;"></div>

    <ion-item>
        <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" [(ngModel)]="retypePwd" placeholder="Retype Password"></ion-input>
    </ion-item>

    <div style="clear: both; height: 10px;"></div>
  </div>

  <div style="clear: both; height: 8px;"></div>

 
   <div text-center>
      <button ion-button style="background-color: rgba(158, 150, 150, 0.404); border-radius: 0px; color:  rgb(88, 86, 86); width: 45%; height:45px; font-size:14px" (click)="signup()">SIGN UP</button>
  </div>
  
  
  <div style = "text-align:center;clear:both">
    <a (click)="login()" ion-button clear style="font-size: 10px; background: transparent; color:black;">Already have an account?</a>
  </div>

</ion-content>
  