<ion-header>
  <ion-toolbar>
      <ion-title>
          Modal
      </ion-title>
      <ion-buttons start>
          <button ion-button (click)="dismiss()">
              <span ion-text color="primary" showWhen="ios">Cancel</span>
              <ion-icon name="md-close" hideWhen="ios"></ion-icon>
          </button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
      <ion-item>
          <select-searchable
              [(ngModel)]="port"
              itemValueField="id"
              itemTextField="name"
              [items]="ports">
              <ng-template selectSearchableLabelTemplate>
                  Port
              </ng-template>
          </select-searchable>
      </ion-item>
  </ion-list>
</ion-content>
