<ion-header>
  <ion-toolbar color="dark">    

    <ion-buttons left>
      <button ion-button style="
        border-radius: 2px;
        background: url('assets/img/leftlogo.png');
        height: 33px;
        width: 33px;
        background-size: 33px;
        background-repeat: no-repeat;"
        (click)="gotoHome()">
      </button>
    </ion-buttons>
   
    <ion-buttons end>
      <button ion-button icon-only mode="ios" (click)="menuModal()">
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>

    <ion-title text-center>OKANE</ion-title>
  
    </ion-toolbar>
</ion-header>
  
  <ion-content>
    
    
    <div id="{{ mapId }}" [ngStyle]="{height: '100%'}"></div>
    <!--Choose origin and destination places-->
    <div class="map-overlay">
    </div>
    
      <div class="align-top">
          <ion-item style="margin-top:5%;margin-bottom:5%;border-radius: 3px;box-shadow:0px 4px 8px 0px;width:90%;height:50px">              
              <select-searchable style="font-size:12px" [(ngModel)]="user.currenC" itemValueField="id" itemTextField="name" [items]="ports"
              [canSearch]="true" (onChange)="portChange($event)">
              <ng-template selectSearchableLabelTemplate style="font-size:12px">
                Change to
              </ng-template>
              </select-searchable>  
          </ion-item>
          <ion-item style="width:90%;justify-content: center" item-right>currency</ion-item>
        <ion-list no-lines>     

         

           
            <!-- <ion-row> 
              <ion-item>              
                      <select-searchable style="font-size:12px" [(ngModel)]="user.currenC" itemValueField="id" itemTextField="name" [items]="ports"
                      [canSearch]="true" (onChange)="portChange($event)">
                      <ng-template selectSearchableLabelTemplate style="font-size:12px">
                        Currency
                      </ng-template>
                      </select-searchable>  
                    
                </ion-item>
                 
              </ion-row>

                <ion-row>    
                  <ion-item>              
                    <select-searchable style="font-size:12px" [(ngModel)]="user.desirE" itemValueField="id" itemTextField="name" [items]="ports"
                    [canSearch]="true" (onChange)="portChange($event)">
                    <ng-template selectSearchableLabelTemplate style="font-size:12px">
                        Desire
                    </ng-template>
                    </select-searchable>  
                  </ion-item>             
                </ion-row> -->
      </ion-list>
    </div>

    <img style="width: 40px; height: 40px; position: absolute; top: 90%; left: 2%;" src="assets/img/search.png">

    <div  *ngIf = "hide" class = "overlaybg" [hidden]="!user.desirE" (click)="hide()"></div> 
    <div class = "align-bottom" >
        <ion-list no-lines>  
          <!-- popup to choose plan -->
          <ion-col [hidden]="!user.desirE">
            <ion-row>
              <ion-col style="font-size:15px">
                <p>Preferences<p>         
              </ion-col>
            </ion-row>

          <ion-row>
            <ion-col *ngFor="let plan of plan; let i = index" [ngClass]="{'active': plan.active}" (click)="choosePlan(i)">                   
              <img src="assets/img/icon/{{ plan.icon }}.svg"> 
              <p>{{plan.name}}</p>
            </ion-col>
          </ion-row>
            <ion-row>
              <ion-col>
                <button style = "background-color:black;color:white;font-size:16px;text-align: center" ion-button>REQUEST MERCHANT</button>         
              </ion-col>
            </ion-row>
          </ion-col>  
        </ion-list>
      </div>
     
  </ion-content>
  
  <ion-footer>
      <ion-navbar color="dark" (click)="notification()">
          <div style="float: left; padding-left: 44%; font-size: 14px; color: white;">
            <ion-title>NOTIFICATIONS</ion-title>
          </div>
      </ion-navbar>
  </ion-footer>
