page-home,

.home {
  ion-header img{
    height: 30px;
    width: 30px;
    border-radius: 100%;
  }
  .search-icon{
    font-size:20px;
  }
  ion-input{
    background: #eee;
  }
  .active img{
    background: color($colors, grey);
    animation-delay: 5000ms;
  }
  ion-col{
    text-align: center
  }
  ion-col img{
    width: 70px;
    padding: 5px;
    border-radius: 10%;
  }
  ion-col p { margin: 0}
  ion-row{
    background: #fff;
    border-radius: 3px;
    border: 1px solid #eee;
  }
  .list-md {
    margin: -1px 0 0px;
  }
  .label-md{
    margin: 13px -50px 13px 0;
  }
  .text-input-md{
    font-size: 14px;
    margin: 8px 5px;
  }
  #map {
    width: 100%;
  }

  .map-overlay {
    position: absolute;
    top: 5px;
    left:5px;
    right: 5px;

    ion-grid {
      border-radius: 3px;

      ion-col + ion-col {
        border-left: 1px solid color($colors, border-color);
      }
    }
  }

  .vehicle-collapsed {
    position: relative;

    .bg {
      min-height: 55px;
      margin: 10px 10px;
    }

    .vehicle {
      position: absolute;
      top: 0;
      box-shadow: 0 2px rgba(0, 0, 0, 0.1);

      .item-inner {
        border: none;
      }
    }
  }

  .modal-bg {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);

    .vehicles {
      position: absolute;
      bottom: 0;
      width: 100%;

      .round-btn,
      .round-btn.active {
        border-radius: 80%;
        border: 1px solid color($colors, white);
        background: none;

        &.button-md {
          height: 4.2rem;
        }
      }
    }
  }

  .item-block.vehicle {
    padding-top: 5px;
    padding-bottom: 5px;

    &.active {
      background: color($colors, primary);
    }

    img {
      width: 80px;
      height: 80px;
    }

    .fee {
      font-weight: bold;
    }
  }
}

.search1{
  text-align:left;
  margin-top: 10px;
  width:280px; 
  height: 50px; 
  margin-left: 20px;
}

content-drawer {
  background-color: white !important;
}

content-drawer .content {
  padding: 25px;
}

.overlaybg{
  position:fixed;
  top:0;
  width:100%;
  height:100%;
  z-index:2;
  opacity:0.6;
  background-color:black;

  .hidebg{
    display:none;
  }


}
// .title.title-md {
//   position: absolute;
//   left: 0;
//   top: 0;
//   height: 100%;
//   width: 100%;
//   text-align: center;
//   }

