<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons left>
        <button ion-button style="
          border-radius: 2px;
          background: url('assets/img/leftlogo.png');
          height: 33px;
          width: 33px;
          background-size: 33px;
          background-repeat: no-repeat;
          margin-left:10%"
          (click)="gotoHome()">
        </button>
      </ion-buttons>

    <ion-title>SETTINGS</ion-title>
    <!-- <div style = "text-align: center;font-size:16px;font-weight:bold;color:white">SETTINGS</div> -->

    <ion-buttons end>
      <button ion-button icon-only mode="ios" (click)="menuModal()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background-user">
  <div class = "content-body">
    <div class="content-padding" style="background:black;background-size:100%;margin:-20%">
      <ion-list>
        <div style = "clear:both;margin-top:-5px"></div>
          <div style = "text-align:center;margin-left:1%">
            <img style = "margin-top:50px; width:100px;height:100px; background:transparent;" src="assets/img/DPokane.png">
              <p style = "color:white;position:absolute; left:45%; top:20%; text-transform:uppercase">nana</p>
          </div>
      </ion-list>
        <div style="background:white; margin-left:5%; margin-right:8%">
          <button ion-item detail-push>
            <p style = "margin-left:4%; color:black; font-size:16px;">Edit Profile</p>
          </button>

          <button ion-item detail-push>
            <p style = "margin-left:4%; color:black; font-size:16px;">Custom Notification</p>
          </button>

          <button ion-item detail-push>
              <p style = "margin-left:4%; color:black; font-size:16px;">Privacy Settings</p>
            </button>
        </div>
    </div>
  </div>
</ion-content>
