page-settings {
    .background-user {
        background-color: white;
    }
    .content-body {
    width: 86%;
    margin-left: 7%;
    margin-top: 40px;
    }
    .content-padding {
    // keep only bottom border
        .item-input {
            margin: 0;
            padding-left: 0;
            border: none;
            }      
        .item-inner {
            border: none;
        }
    }
}
