<ion-header>
  <ion-toolbar style="background-color: black;">
    <button ion-button menuToggle right>
    <ion-icon name="ios-arrow-up"></ion-icon>
    </button>
    <ion-title>
    </ion-title>
  </ion-toolbar>
  <div style="height: 130px; background-color: black;" >
    <ion-avatar item start style="position: absolute; left: 38%; top: 33%;">
      <img src="../assets/imgs/sis1.jpg" style="width:100px; height: 100px; border-radius: 50%">
    </ion-avatar><br>
    <p style="color: white; position: absolute; left: 42%; bottom: -3%;">NANA 4.13</p>
</div>
</ion-header>


<ion-content>
   
       
  <img src="../assets/imgs/merchantmap.png">

  <div style="display: block; height: 1px; width: 88%; border-bottom:1px; solid #ccc; margin: 1.em 0; margin-left: 22px;"></div>
  <div style="height: 1px; width: 88%; border-bottom:1px; margin: 1.0em 0; margin-left: 22px;">  
      
  <div class=Details>
  <ion-row>
      <ion-col>
        <ion-row>
          <div>
            <h5 style="line-height:1px" >USD 1000.00</h5>
            <p style="line-height:10px;font-size:12px;">MERCHANT RATE</p>
              <h5 style="line-height:0.5px;text-align:right">2%</h5>
            </div>
        </ion-row>      
        <ion-row>  
            <div style ="margin-top:55%"><img src="../assets/imgs/merchantlogo.png" style="width: 20px; height: 20px;"></div>
        </ion-row>
      </ion-col>

      <ion-col>
        <ion-row>
            <div style= "margin-left:19%;margin-top:80%">
              <h5 style="line-height:1px">USD 1020.00</h5>
              <p style="line-height:1px;text-align:right">MYR 4056.85</p>
            </div>      
        </ion-row>          
      </ion-col>
    </ion-row>
  </div>  


  <div style="height: 1px; width: 88%; border-bottom:1px; margin: 1.0em 0; margin-left: 24px;">    
      <ion-col>
          <button ion-button color="dark" style="border-radius: 0px; float: right">MESSAGE</button>
        </ion-col>
      </div>
</div>

 

</ion-content>



