page-social-details {
    .Details{
        background: url('../assets/imgs/merchantcard.png') no-repeat center center fixed;
        background-size: 300px 550px;
        border-width: 0.1px !important;
        border-style: solid;
        border-color:rgb(232, 235, 239);
        padding: 0;
        border-radius: 5px;
        box-shadow: 1px 2px #eff1f4;
      }
}
