@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?7farko');
  src:  url('../assets/fonts/icomoon.eot?7farko#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?7farko') format('truetype'),
    url('../assets/fonts/icomoon.woff?7farko') format('woff'),
    url('../assets/fonts/icomoon.svg?7farko#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .icon-ai-rates:before,
// .ion-ios-icon-ai-rates:before,
// .ion-ios-icon-ai-rates-outline:before,
// .ion-md-icon-ai-rates:before,
// .ion-md-icon-ai-rates-outline:before,
// {
//   content: "\e901";
//   font: 26px;
// }

// .icon-ailocation:before,
// .ion-ios-icon-ailocation:before,
// .ion-ios-icon-icon-ailocation:before,
// .ion-md-icon-icon-ailocation:before,
// .ion-md-icon-ailocation-outline:before, {
//   content: "\e900";
//   font:26px;
// }

@mixin makeIcon($arg, $val) {
  .ai-#{$arg}:before ,
  .ion-ios-ai-#{$arg}:before ,
  .ion-ios-ai-#{$arg}-outline:before ,
  .ion-md-ai-#{$arg}:before ,
  .ion-md-ai-#{$arg}-outline:before  {
    content: $val;
    font-size: 26px;
  }
}

@include makeIcon(rates,'\e901');
@include makeIcon(location,'\e900');

