@import "ionic.globals";

$text-color: #000;
$background-color: #fff;
$driverProfilePictureSize: 120px;
$menu-width:225px;  

// primary: navigation, button
// secondary: used as background for cars

$colors: (
  primary: #222222,
  secondary: #FFC107,
  danger: #D65451,
  light: #FFF,
  dark: #000,
  gray: #a2a2a2,
  white: #FFF,
  bg-color: #F7F9FB,
  border-color: #E9EBEB,
  
);


@import "ionic.theme.default";
$ionicons-font-path: "../assets/fonts";
@import "ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
