page-walkthrough {

    .background-all {
        background-color: white !important;
    }
    .content-body {
           width: 86%;
           margin-left: 7%;
           margin-top: 30px;
    } 
    .content-padding {
             // keep only bottom border
        .item-input {
               margin: 0;
               padding-left: 0;
               border: none;
               // border-bottom: 1px solid #DDD;
        }      
        .item-inner {
                 border: none;
        }
    }

}
