<ion-content class="background-all">

    <div class="content-body">
  
      <div class="content-padding">
  
        <!-- Logo -->
        <div style="clear: both; margin-top: -20px;"></div>
        <img style="width: 42.12962962962963%; height: 23.69791666666667%; background: transparent; margin-left: 28.98148148148148%; margin-top: 11.09375%;" src="assets/img/Okane.png">
        
        <ion-list padding>
            <div>
            <ion-item style="background-color: white;">
              <ion-input style="background-color:white; color:  rgb(180, 177, 177); bottom: 55.43478260869565%;" type="text" [(ngModel)]="email" placeholder="Username/Email"></ion-input>
            </ion-item>
            <ion-item style="background-color: white;">
              <ion-input style="background-color: white; color:  rgb(180, 177, 177); bottom: 47.59963768115942%;" type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
            </ion-item>
            </div>

            <div style="clear: both; margin-top: -10px;"></div>
            <a (click)="reset()" ion-button clear style="float: right; font-size: 8px; background: transparent; color: white;">Forgot Password?</a>

            <div style="clear: both; margin-top: 10px;"></div>
            <div align="center">
            <button style="border-radius: 2px;
            background-color: black;
            color:white;
            width: 140px;
            height: 50px;" ion-button (click)="login()">LOGIN</button>

            <div style="clear: both; margin-top: 10px;"></div>
            <button style="border-radius: 2px;
            background-color: rgb(180, 177, 177);
            color:white;
            width: 140px;
            height: 50px;" ion-button (click)="signup()">SIGN UP</button>
            </div>

            <div style="clear: both; margin-top: 40px;">
            <div style="border-width: 1px;
              border-color: rgb(180, 177, 177);
              border-style: solid;
              margin-left:-15%;
              width: 130%;"></div>

            <div style="clear: both;">
            <a style="color: black; margin-top: -11px; background-color: white; float: right; margin-right: 25%;">
              or with social media</a>
            </div>
          </div>
            
            <div style="clear:both; height: 30px;"></div>
            <div style="text-align: center;">
              <img style="width: 28px; margin-right: 20px; background: transparent; " src="assets/img/Facebook.png">
              <img style="width: 28px; background: transparent;" src="assets/img/Twitter.png">
              <img style="width: 28px; margin-left: 20px; background: transparent;" src="assets/img/Google.png">
            </div>

        </ion-list>
        <!-- <button ion-button style="background: transparent;">FORGOT PASSWORD?</button> -->
      </div>
    </div>
    <div style="clear:both; text-align: center; margin-top: -40px;">
      <a ion-button clear style="font-size: 10px; background: transparent; color:black;">This is for Social, click here for Merchant</a>
    </div>
  </ion-content>