ion-app{
  font-family: 'Roboto', sans-serif !important;
  font-weight:100;
}

$font-size: 5vw;

ion-toolbar{
    height:70px;
}

ion-title{
    font-size:1px;
}

.toolbar-title {
    font-size: $font-size;
  }

.icon{
    font-size: 8vw;
}

.align-bottom {
    position: fixed;
    bottom: -2%;
    width: 100%;
    padding: 5px;
    z-index: 100;
  }

  .align-top {
    position: fixed;
    top: 75px;
    width: 100%;
    padding: 5px;
  }

// right side menu
#menu-right {
    button {
      padding-left: 20px;
    }
    ion-content {
      background:black;
    }
    .menu-inner {
      width: 12vh;
    }
    @media screen and (orientation: landscape) {
      .menu-inner {
        width: 15vh;
      }
    }
    .active-menu-item {
      position: absolute;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 6px solid #ffffff;
    }
    .label {
      display: flex;
      align-items: center;
    }
    .list-md[no-lines] .item-block,
    .list-md[no-lines] ion-item-options,
    .list-md[no-lines] .item .item-inner,
    .list-ios[no-lines] .item-block,
    .list-ios[no-lines] ion-item-options,
    .list-ios[no-lines] .item .item-inner {
      padding: .3rem 0;
      background: transparent;
      color: white;
    }
    ion-icon {
      line-height: 1;
    }
  }

  @import"../theme/icons"