<!-- <ion-menu side="right" [content]="content">
    <ion-content>   
        <ion-list text-wrap>

            <button style="height: 40px;" menuClose ion-item  (click)="viewProfile()">
                    <ion-icon name="ios-people" item-right></ion-icon> 
                        <p style ="text-align:right">Account</p>
                    </button>

            <button style="height: 40px;" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                <ion-icon [name]="p.icon" item-right></ion-icon> 
                    <p style ="text-align:right">{{p.title}}</p>
            </button>
            
            <button style="height: 40px;" menuClose ion-item  (click)="logout()">
                <ion-icon name="ios-log-out" item-right></ion-icon> 
                    <p style ="text-align:right">Logout</p>
            </button>

        </ion-list>
    </ion-content>
</ion-menu> -->

<ion-menu side="right" type="push" [content]="content" id="menu-right">
        <ion-content>
          <ion-list no-lines>

            <button menuClose icon-only ion-item detail-none  (click)="viewProfile(user)">
                <div *ngIf="user.active" class="active-menu-item"></div>
                <ion-icon name="ios-people"></ion-icon>
            </button>
            
            <button menuClose icon-only ion-item detail-none (click)="rightMenuClick(item)" *ngFor="let item of rightMenuItems; let i = index">
              <div *ngIf="item.active" class="active-menu-item"></div>
              <ion-icon [name]="item.icon"></ion-icon>
            </button>

            <button menuClose icon-only ion-item detail-none  (click)="logout(user)">
                    <div *ngIf="user.active" class="active-menu-item"></div>
                    <ion-icon name="ios-log-out"></ion-icon>
                </button>
                
          </ion-list>
        </ion-content>
      </ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav> 

