<ion-header>
  <ion-navbar color="dark"></ion-navbar>

  <div padding style="height: 130px; background-color: black;" >
      <ion-avatar item start style="position: absolute; left: 37%; top: 30%;">
      <img src="{{ user.photoURL }}" style="width:100px; height: 100px; border-radius: 50%" (click)="chooseFile()">
            <form ngNoForm>
              <input id="avatar" name="file" type="file" (change)="upload()">
            </form>
      </ion-avatar>
      <img src="assets/img/Edit.png" style="position: absolute; left: 57%; top: 78%; width: 15px; height: 15px;">
          <p style="color: white; position: absolute; left: 45%; bottom: -5%;text-transform:uppercase">{{user.name}}</p>
    </div>
</ion-header>

<ion-content padding>
    <h5 padding style="margin-left: -3%">Personal Information</h5>
    <div padding style="margin-top: -8%; margin-left: -3%;">

    <ion-item>
        <ion-label stacked color="dark">Full Name</ion-label>
        <ion-input type="text" [(ngModel)]="user.name"></ion-input>
      </ion-item>

    <div style="clear: both; height: 10px;"></div>

    <ion-item>
        <ion-label stacked color="dark">Email</ion-label>
        <ion-input type="text" [(ngModel)]="user.email" disabled></ion-input>     
    </ion-item>

    <div style="clear: both; height: 10px;"></div>

    <ion-item>
        <ion-label stacked color="dark">Mobile Number</ion-label>
        <ion-input type="text" [(ngModel)]="user.phoneNumber" [disabled]="user.isPhoneVerified"></ion-input>
    </ion-item>

    <div style="clear: both; height: 10px;"></div>

    <ion-item>
        <ion-label stacked color="dark">Cities</ion-label>
        <ion-input type="text" [(ngModel)]="user.cities"></ion-input>
    </ion-item>

    <div style="clear: both; height: 10px;"></div>
     
     <ion-item>
        <ion-label>Country</ion-label>
          <ion-select interface="popover" [(ngModel)]="user.countries">
         <ion-option *ngFor="let c of country;let i = index" [selected] = "i == 0">{{c.name}}</ion-option>
        </ion-select>
      </ion-item>

    <h5 padding style="margin-left: -3%">Documentation</h5>

    <ion-item>
        <ion-label stacked color="dark">Identity Card</ion-label>
        <ion-input type="text" [(ngModel)]="user.IDcard"></ion-input>
    </ion-item>

    <div style="clear: both; height: 20px;"></div>

    <img src="assets/img/card.png" style="width:70%; height: 40%; background: transparent; float: right;">

    <div style="clear: both; height: 10px;"></div>

    <ion-item>
      <ion-label stacked color="dark">Credit / Debit Card</ion-label>
      <ion-input type="text" [(ngModel)]="user.Card"></ion-input>
    </ion-item>
  </div>

  <div text-center>
    <button ion-button style="background-color: rgba(158, 150, 150, 0.404); border-radius: 0px; color:  rgb(88, 86, 86); width: 45%; height:45px; font-size:14px" (click)="savee()">SAVE</button>
</div>
  

</ion-content>

