<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>

    <div class="navavatar" style="height:500px;">
        <div style="clear:both; height:200px;"></div>
      <p style ="color:black; height:30px; font-size:35px;">Okane</p>
    </div>

  <div class="center">
  <ion-row>
    <ion-col col-6> 
        <button ion-button block color = "positive" class="buttonheight" (click) ="register()">REGISTER</button>
    </ion-col>

    <ion-col col-6>
        <button ion-button block color = "positive" class="buttonheight" (click) ="sign_in()">LOGIN</button>
    </ion-col>
    </ion-row>
  </div>
</ion-content>