page-welcome{
    .navavatar{
        background-image:url("../assets/img/bgImage.jpg");
        text-align:center;
        }

    .center{
        text-align:center;
        
        }
    
    .buttonheight{
        height:45px;
    }
}
