<ion-header>
  <ion-toolbar (click)="close()" color="dark">
     <ion-row>
      <ion-col col-9>
        <div style="text-align: center; font-size: 16px; font-weight:bold; color: white; margin-left: 38%">NOTIFICATION</div>
      </ion-col>
      <ion-col col-3>
          <button ion-button style="border-radius: 2px;
                    background: url('assets/img/arrowdown.png');
                    position: absolute;
                    left: 40%;
                    width: 20px;
                    background-size: 20px;
                    background-repeat: no-repeat;">
          </button>
          <div style="margin-top: 58%;"></div>
        <div class="triangle" style="position: absolute; right: 20%; top:65%;"></div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div style="clear: both; height: 5px;"></div>  
    <div style="display: block; height: 1px; width: 92%; border-top: 1px solid black; margin: 1.5em 0; margin-left: 5%;"></div>

    <img src="assets/img/noti.png" style="width: 20px; height: 20px; float: left; margin-left: 7%; margin-top: 1%;">
    <p style="text-align: center; font-size: 11px;">EXCHANGE 2.5K ABOVE FOR</p>
    <p style="font-size: 11px; margin-left: 33%; margin-top: -4%">AIRPORT LOUNGE VOUCHER</p>
    
    <ion-card style="width: 85%; float: right; border-top: 0.5px solid black;">
      <ion-card-content>
        <div> 
          <p style="font-size: 7px; color: black">Have you exchange to Malaysian Ringgit?</p>
          
          <div style="clear: both; height: 10px; color: black"></div>
          
          <p style="font-size: 7px; color: black">Exchange to Malaysian Ringgit more than RM2.5k you are eligible to get complimentary Airport Plaza Premium Lounge Voucher.</p>
          
          <div style="clear: both; height: 10px; color: black"></div>
          
          <p style="font-size: 7px; color: black">Only Applicable in South East Asia.</p>
    
          <img src="assets/img/notivoucher.png" style="width: 250px; height: 80px;">
          <p style="float: right; font-size: 5px; color: black;">Terms & Conditions Apply*</p>
    
          <button ion-button block color="dark" style="border-radius: 0; height: 30px;">MORE INFO</button>
    
        </div>
        
      </ion-card-content>
      
    </ion-card>
     <div style="clear: both;"></div>
    <div style="display: block; height: 1px; width: 92%; border-top: 1px solid black; margin: 1.5em 0; margin-left: 5%; margin-top: -1%;"></div>
    
    <div>
      <img src="assets/img/noti.png" style="width: 20px; height: 20px; float: left; margin-left: 7%; margin-top: -1%;">
      <p style="font-size: 9px; margin-left: 3%; text-align: center;">WELCOME TO MALAYSIA! HAVE YOU EXCHANGE TO MYR?</p>
      <div style="display: block; height: 1px; width: 92%; border-top: 1px solid black; margin: 1.5em 0; margin-left: 5%;"></div>
    </div>
    
    <div>
      <img src="assets/img/noti.png" style="width: 20px; height: 20px; float: left; margin-left: 7%; margin-top: -1%;">
      <p style="font-size: 9px; text-align: center;">2 MERCHANT NEARBY YOUR AREA WITH JPY & USD</p>
      <div style="display: block; height: 1px; width: 92%; border-top: 1px solid black; margin: 1.5em 0; margin-left: 5%;"></div>
    </div>
    
    <div>
      <img src="assets/img/noti.png" style="width: 20px; height: 20px; float: left; margin-left: 7%; margin-top: -1%;">
      <p style="font-size: 9px; text-align: center;">WELCOME TO OKANE SOCIAL</p>
      <div style="display: block; height: 1px; width: 92%; border-top: 1px solid black; margin: 1.5em 0; margin-left: 5%;"></div>
    </div>
    
    </ion-content>