page-notifications {
    .triangle{
        position: absolute;
        width: 0;
        height: 0;
        border-left: 22px solid transparent; 
        border-right: 22px solid transparent; 
        border-bottom: 28px solid white;
        right: 6px;;
        top: 10%;
    }

    ion-card {
        border-top: 0.5px solid black; 
        border-bottom: 0.5px solid black;
        border-left: 0.5px solid black; 
        border-right: 0.5px solid black;
        width: 85%; 
        float: right;
    }
}
